<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.bank.dao.IAccountDAO" >
    <resultMap type="com.solvd.bank.domain.Account"
               id="AccountResultMap" autoMapping="false" >
        <id column="id" property="id" />
        <result column="balance" property="balance" />
        <result column="cbu" property="cbu" />
        <result column="alias" property="alias" />
    </resultMap>
    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="true">
        <![CDATA[
            Insert into Accounts (balance,cbu,alias) values (#{balance},#{cbu},#{alias})
        ]]>
    </insert>
    <update id="updateEntity" useGeneratedKeys="true" keyProperty="true">
        <![CDATA[
            Update Accounts set balance=${balance},cbu=${cbu},alias=${alias} where id=${id}
        ]]>
    </update>
    <delete id="removeEntity">
        <![CDATA[
            Delete from Accounts where id=${id}
        ]]>
    </delete>
    <select id="getEntityById" resultMap="AccountResultMap">
        <![CDATA[
            Select * from Accounts where id=${id}
        ]]>
    </select>
</mapper>