<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.bank.dao.IManagerDAO" >
    <resultMap type="com.solvd.bank.domain.Manager"
               id="ManagerResultMap" autoMapping="false" >
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="lastName" property="lastName" />
        <result column="username" property="username" />
        <collection property="clients" resultMap="com.solvd.bank.dao.IClientDAO.ClientResultMap" />
    </resultMap>
    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="true">
            Insert into Managers (name,lastName,username) values (#{name},#{lastName},#{username})
    </insert>
    <update id="updateEntity" useGeneratedKeys="true" keyProperty="true">
            Update Managers set name=${name},lastName=${lastName},username=${username} where idManagers=${id}
    </update>
    <delete id="removeEntity">
            Delete from Managers where idManagers=${id}
    </delete>
    <select id="getEntityById" resultMap="ManagerResultMap">
            Select * from Managers where idManagers=${id}
    </select>
</mapper>